{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}

<br>
<div class="container">
  <div class="container m-5">

    <div class="card container">
      <h4 class="card-header text-center">Event Info</h4>
     
      <div class="card-body text-center">
        <h5 class="card-title">{{event.title}}</h5>
        <p class="card-text">{{event.description|linebreaks}}</p>
        <p class="card-text">Location: {{event.location}}</p>
        <p class="card-text">Date: {{event.date}}</p>
        <p class="card-text">Time: {{event.time}}</p>
        <p class="card-text">Number of Seats: {{event.seats}}</p>
        <p class="card-text">Event Organizer: {{event.organizer.username}}</p>
      </div>

      <div class="card-body">

        <div class="row">
     
          {% if request.user == event.organizer %}
            <div class="col-md-4 ">
                <a href="{% url 'edit' event.id %}" class="btn btn-outline-primary btn-block">
                Edit</a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'delete' event.id %}" class="btn btn-outline-danger btn-block">
                Delete</a>
            </div>
          {% endif %}
            <div class="col-md-4">
                <a href="{% url 'book' event.id %}" class="btn btn-outline-warning btn-block">
                Book</a>
            </div>

        </div>

      </div>

    </div>

          <div>
            <br>
            <h4 class="text-center"> Attendees </h4>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Username</th>
                  </tr>
                </thead>

                <tbody>
                {% for e in attendees %}

                  <tr>
                    <td>{{e.user.username}}</td>
                  </tr>

                {% endfor %}
                </tbody>
            </table>
          </div>

  </div>
</div>
{% endblock content %}