{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="masthead text-center text-white" style=" background: transparent;">

  <div class="masthead-content">
    <div class="container-responsive">
      <h1 class="masthead-heading mb-0">All the events,</h1>
      <h2 class="masthead-subheading mb-0">You could ever want...</h2>
      
      <br>
      {% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up to find events!</a>
      {% else %}
        <a href="{% url 'events' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Find events!</a>
      {% endif %}

    </div>
  </div>
</header>



{% endblock %}