{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock title %}

{% block content %}

<div class="jumbotron">
  <div class="card m-3">
    <h5 class="card-header">Edit Profile</h5>
    <div class="card-body">
      <p class="card-text">
          <form action="{% url 'profile-edit' %}" method="POST">
              {% csrf_token %}
              {{ profile_form | crispy}}
              <input type="submit" value="Edit" class="btn btn-outline-info">
          </form>
      </p>
    </div>
  </div>
</div>

{% endblock content %}
